ion-content
{
  --overflow: hidden;
}

#main-card
{
  top: 30%;
  width: 80%;
  height: 40%;
  margin: auto;
}

#budget-modal
{
  --width: 280px;
  --height: 330px;
  --border-radius: 8px;
}

#modal-content
{
  --overflow: hidden;
}
