<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <swiper-container pagination="true" pagination-dynamic-bullets="true">
      
      <swiper-slide>
        <ion-img
        src = "../assets/samp.jpg"
        ></ion-img>
        <ion-text>
          <h1>Welcome!</h1>
          <p>
            Welcome to EZxpense
          </p>
        </ion-text>
      </swiper-slide>
      
      <swiper-slide>
        <ion-img
        src = "../assets/samp.jpg"
        ></ion-img>
        <ion-text>
          <h1>Keep track of expenses</h1>
          <p>
            Add expense manually or by taking a photo of the receipt
          </p>
        </ion-text>
      </swiper-slide>
      
      <swiper-slide>
        <ion-img
        src = "../assets/samp.jpg"
        ></ion-img>
        <ion-text>
          <h1>Overview of spending habits</h1>
          <p>
            Expenses each month are separated into different categories
          </p>
        </ion-text>
      </swiper-slide>
      
      <swiper-slide>
        <ion-img
        src = "../assets/samp.jpg"
        ></ion-img>
        <ion-text>
          <h1>View payment history</h1>
          <p>
            Edit or delete payments by month
          </p>
        </ion-text>
      </swiper-slide>
      
      <swiper-slide>
        <ion-img
        src = "../assets/samp.jpg"
        ></ion-img>
        <ion-text>
          <h1>Set reminders for bill payments</h1>
          <p>
            Add notifications for upcoming bills
          </p>
        </ion-text>
      </swiper-slide>
      
      <swiper-slide>
        <ion-img
        src = "../assets/samp.jpg"
        ></ion-img>
        <ion-text>
          <h1>You're ready</h1>
          <p>
            Create an account
          </p>
          <ion-button fill="outline">Get started!</ion-button>
        </ion-text>
      
      </swiper-slide>
    </swiper-container>
  </ion-card>
</ion-content>
