ion-content
{
  --overflow: hidden;
}

ion-card
{
  top: 5%;
  width: 80%;
  height: 90%;
  margin: auto;
}

swiper-container
{
  top: 5%;
  width: 90%;
  height: 95%;
}

swiper-slide
{
  text-align: center;
}
