ion-card
{
    top: 5%;
    width: 80%;
    height: 90%;
    margin: auto;
}

swiper-container
{
    top: 5%;
    width: 90%;
    height: 95%;
}

swiper-slide
{
    justify-content: center;
    align-items: center;
    text-align: center;
}
